$color-green: #299E00;
$color-greenLight: #6AF531;
$color-greenDark: #00A333;
$color-red: #BB0606;
$color-redLight: #EB5631;
$color-redDark: #901700;
$color-button: #284CC9;
$color-title: #98A1A8;
$color-caption: #919AA0;
$color-type: #3E5769;
$color-typeNumber: #618096;
